<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "bean2" class = "com.pack.SecondBean" ></bean>
   <bean id="bean1" class="com.pack.FristBean">
     <property name="secondBean" ref="bean2"/>
   </bean>

</beans>